In [33]:
for k in range(1,11):   
    print(k,end="    ")

1    2    3    4    5    6    7    8    9    10

In [242]:
for k in range (5):
    print(k)

0
1
2
3
4

In [285]:
for k in range (5):
    print(k,end="\t")

0	1	2	3	4

In [81]:
for k in range (3):
    x =  'shantanu'
    y = 'raju' 
    z = 'ram'
    print("%s %s %s"%(x,y,z))

shantanu raju ram
shantanu raju ram
shantanu raju ram

In [3]:
sample = ['a','b','c','d','e']
for i in range(2,4):  # 4-1 = 3rd index value
    print(sample[i])

c
d

In [47]:
for i in range(len(sample)):
    print(sample[i] ,end ="  ")

a  b  c  d  e

In [44]:
i = 0
while  i < 6:
    i = i+1
    print('hi',i)

hi 1
hi 2
hi 3
hi 4
hi 5
hi 6

In [41]:
for i in range(2,5):
    print("hello",i)  # here i is also print with given range values

hello 2
hello 3
hello 4

In [39]:
for i in range(2,5): 
    print("hllo")

hllo
hllo
hllo

In [40]:
for i in range(2,5): 
    print(i)

2
3
4

In [50]:
o = [2,4,6,8,10]
for i in range(1,4): # 4-1 = 3rd index value
    print(o[i])

4
6
8

In [59]:
p = " i love python"
for k in range(1,6):  # 6-1 = 5th index value
    print(p[k])

i

l
o
v

In [56]:
p = " i love python"
for k in range(6):
    print(p)

 i love python
 i love python
 i love python
 i love python
 i love python
 i love python

In [61]:
p = " i love "  
for i in p:
    print(p)  # will print 8 times.

 i love
 i love
 i love
 i love
 i love
 i love
 i love
 i love

In [68]:
p = " i love python"  # 0-14 index
for i in p:
    print(len(p))

14
14
14
14
14
14
14
14
14
14
14
14
14
14

In [69]:
p = " i love" # 0-7 index
for k in range(len(p)):
    print(p)

 i love
 i love
 i love
 i love
 i love
 i love
 i love

# write a program to print "hello worls " 5 times

In [71]:
for i in range(5):            # here i is representing the range
    print("hello worls")

hello worls
hello worls
hello worls
hello worls
hello worls

# WAP to print 1 to 10 number

In [77]:
for k in range(1,11):
    print(k, end = " " )

1 2 3 4 5 6 7 8 9 10

In [ ]:
# By default python’s print() function ends with a newline
# Python’s print() function comes with a parameter called ‘end’. 
# By default, the value of this parameter is ‘\n’, i.e. the new line character.
# You can end a print statement with any character/string using this parameter.

In [78]:
print("Welcome to" , end = ' ')   # ends the output with a <space> 
print("technogreek", end = ' ')    # ends the output with a <space>

Welcome to technogreek

In [79]:
print("Python" , end = '@') 
print("technogreek")

Python@technogreek

In [82]:
sample = ['a','b','c','d','e']

In [92]:
for i in range(len(sample)):
    print(sample[i])

a
b
c
d
e

In [90]:
for i in range(4):
    print(sample)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

In [101]:
sample

['a', 'b', 'c', 'd', 'e']

In [107]:
len(sample)

5

In [109]:
for i in range(len(sample)):
    print(i)

0
1
2
3
4

# for loop with dict

In [143]:
employee = {'name':'ram','dept':'IT',"code":'5679'}

In [144]:
employee

{'name': 'ram', 'dept': 'IT', 'code': '5679'}

In [145]:
for i in employee:
    print(i)

name
dept
code

In [155]:
for i in employee.items():
    print(i[0])

name
dept
code

In [146]:
# we have two methods to retrive values from dict.
# variable[" "]  # variable.get(" ")

In [147]:
for i in employee:
    print(employee[i])

ram
IT
5679

In [148]:
for i in employee:
    print(employee.get(i))

ram
IT
5679

In [156]:
for i in employee.items():
    print(i[1])

ram
IT
5679

# print both key and values

In [149]:
for i in employee:
    print('key is %s and value is %s'%(i,employee.get(i)))

key is name and value is ram
key is dept and value is IT
key is code and value is 5679

In [150]:
for i in employee:
    print('%s %s'%(i,employee.get(i)))

name ram
dept IT
code 5679

# use .items method

In [159]:
for i ,k in employee.items():
    print(i,k)

name ram
dept IT
code 5679

In [152]:
for i in employee.items():
    print(i)

('name', 'ram')
('dept', 'IT')
('code', '5679')

# WAP to print table for 2 to 10

In [231]:
for a in range (1,11):
    for b in range (1,11):
      #  print("%d %d"%((2*a),(3*b)))

SyntaxError: unexpected EOF while parsing (<ipython-input-231-c5bc192ae664>, line 3)

In [214]:
for i in range (1,11):
    for j in range(1,11):
        print((j*3,end="\t"),(i*2,end="\t"))

SyntaxError: invalid syntax (<ipython-input-214-0ae44b1a1975>, line 3)

In [232]:
for i in range (1,11):
   # print("%d"%(i))
    for j in range(1,11):
      #  print("%d"%(j))
        for k in range (1,11):
          #  print("%d"%(k))

SyntaxError: unexpected EOF while parsing (<ipython-input-232-b2c02ba754b6>, line 6)

In [212]:
for i in range(2, 11):
    for j in range(i, (i*10)+1, i):
            print(j, end="\t")
    print()

2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [239]:
for i in range (2,11):
    print(i,end="\t")
    for j in range(2,11):

2	22	22	22	22	22	22	22	22	22	3	22	22	22	22	22	22	22	22	22	4	22	22	22	22	22	22	22	22	22	5	22	22	22	22	22	22	22	22	22	6	22	22	22	22	22	22	22	22	22	7	22	22	22	22	22	22	22	22	22	8	22	22	22	22	22	22	22	22	22	9	22	22	22	22	22	22	22	22	22	10	22	22	22	22	22	22	22	22	22

In [275]:
for i in range(1, 11):
    for j in range( i,(i*11),i):
            #print(j )#end="\t")
    print()

IndentationError: expected an indented block (<ipython-input-275-272fac1b67b8>, line 4)

In [274]:
for i in range(2, 11):
    for j in range(i,i*11,i):
       # print(j)
       # print()

SyntaxError: unexpected EOF while parsing (<ipython-input-274-b766743ab31e>, line 4)

In [279]:
for i in range(2,11):
    for j in range(1,11):
        print("%d" % (i*j))

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100