In [6]:
n = 500

In [7]:
type(n)

int

In [4]:
n1 = "class"

In [5]:
type(n1)

str

## WAP to make Adtion of two values

In [9]:
n1 = 100  
n2 = 200
# we have defined the two variable n1 & n2
result = n1+ n2  # so no need for quotes here
print(result) # again we have defined result variable so no need for quote

300

In [10]:
print("addition of two number is:",result)

addition of two number is: 300

In [ ]:
# for input funtion # by default store values in Str.

In [11]:
input()

500

'500'

In [12]:
dummy_value = input("enter some value :")

enter some value :50000

In [13]:
# now the value = 50000 is store in dummy value # but data type is str

In [14]:
dummy_value

'50000'

## WAP to make addition of two values Note : take input from user

In [15]:
first_value = input("enter first value")
second_value = input('enter second value')
result = first_value + second_value
print("addition of two values is:",result )

enter first value50
enter second value80
addition of two values is: 5080

In [2]:
# 5080 is concate # whenever we have input function by default we get data in str data type
# Python cannot convert a floating-point number in a string to an integer. means 7.5 - "7.5" - 7
# To overcome this issue, we need to convert the value a user inserts to a floating point number. 
#Then, we can convert it to an integer.

## so we need typecasting means changening the data types

In [3]:
# convert str into int

In [9]:
Number_1 = "100"
print(Number_1)

100

In [10]:
type(Number_1)

str

In [11]:
int(Number_1)

100

In [13]:
type (int (Number_1))    # to change the data type

int

In [14]:
first_value = int (input("enter first value")) # what ever input value is accepting, int is converting into integer value
second_value = int(input('enter second value'))
result = first_value + second_value
print("addition of two values is:",result )

enter first value25
enter second value50
addition of two values is: 75

In [15]:
int(10.99)

10

In [17]:
int("technology")  #A ValueError is raised when there is an issue with the value stored in a particular object.
# The Python ValueError: invalid literal for int() with base 10 error is raised when you try to convert a string value
#that is not formatted as an integer.

ValueError: invalid literal for int() with base 10: 'technology'

In [18]:
int(technology)# A NameError is raised when you try to use variable or a function name that is not valid OR not/ declare/defined

NameError: name 'technology' is not defined

## WAP to calculate income tax. income tax rate is 7 %

In [19]:
# first we need to define user's salary

In [20]:
# then calculate yearly income

In [ ]:
# then tax formula = yearly income * 7 /100

In [21]:
# then print tax

In [29]:
salary = int(input("enter user's salary"))
yearly_income = salary*12

tax = yearly_income * 7/100

print("you need to pay this much tax:" , tax)

enter user's salary70000
you need to pay this much tax: 58800.0

## WAP to calculate rate of interest for FD.

In [33]:
invester_amt = int(input("enter amount"))
bank_roi = float(input("enter roi"))
tenure_fd = int(input("enter tenure"))
fd_formula = invester_amt + (invester_amt * bank_roi * tenure_fd / 100 )
print("total gross amount you will get is:", fd_formula)

enter amount10000
enter roi5.1
enter tenure5
total gross amount you will get is: 12550.0

In [ ]:
# here roi = rate of interes
#fd = fixed deposits